body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: 'ptsans', Arial, sans-serif;  
  font-style: normal;  
}
@media (min-width: 768px) {
  
  .wrapper {
    width: 84%;
    margin: 0 auto;
    /*max-width: 1380px;*/
  }  
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.btn {
  color: #fff;
  background-color: #4FC339;
  padding: 10px 15px;
  font-size: 36px;
}

.header {
  width: 100%;
  height: 90vh;
  background-image: url(img/headerBg.png);  
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.header__title {
  font-size: 80px;
  line-height: 120px;
}
.header__slogan {
  font-size: 26px;
  line-height: 40px;
  width: 100%;
}
.navbar { 
  align-items: center;
  font-size: 20px;
  width: 100%;
  padding-top: 50px;
  
}
.navbar__item {
  width: 100%;
  height: 50px;
  background-color: rgba(79, 195, 57, 0.4);
  text-align: center;
}

.navbar_closed .navbar__item {
  display: none;
}
.navbar_closed .navbar__item_active {
  display: block;

}
.navbar_opened .navbar__item {
  display: block;
}
 
.navbar__item {
  list-style: none; 
}

.navbar__item a {
  display: block;
  width: 100%;
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding: 15px ;
  text-decoration: none;
  width: 100%;
}
.navbar__item a:hover {
  background-color: #23C892;
}
.navbar__toggle {
  width: 70px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0; 
}
.navbar_closed .navbar__toggle::after {
    content: "";
    position: absolute;
    left: 17px;
    width: 36px;
    height: 2px;
    background-color: #000;
    box-shadow: 0 8px 0 0 #000, 0 -8px 0 0 #000;
}
.navbar_opened .navbar__toggle::before,
.navbar_opened .navbar__toggle::after {
    content: "";
    position: absolute;
    left: 17px;
    width: 36px;
    height: 2px;
    background-color: #000;
}
.navbar_opened .navbar__toggle::after {
    transform: rotate(45deg);
}
.navbar_opened .navbar__toggle::before {
    transform: rotate(-45deg);
}
.apperance{
  margin-top: 20px;
  padding-top: 95px;
  background-color: #F5F5F5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.apperance__item{
  width: 40%;
}
.apperance__item h4{
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.apperance__item i{
  font-size: 48px;
  color: #55B042;
}
.apperance__item p{
  font-family: 'Nunito Sans', Arial, sans-serif;
  color: #797979;
}

@media (min-width: 1200px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    background-size: cover;
    align-items: flex-end;
  }
  .header__1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
  }
  .header__title {    
    width: 70%;    
    font-size: 45px;    
    padding-top: 170px;
  }
  .header__slogan {
    width: 70%;
    padding-top: 70px;
    padding-bottom: 70px;
    
  }
  .header__btn {

  }
  .navbar {
    width: 70%;
    float: right;
  }
  .navbar__toggle {
      display: none;
  }
  .navbar .navbar__list {
    display: flex;
    justify-content: flex-start;
  }
  .navbar .navbar__item {
    display: block;
    background-color: transparent;
  }
  .navbar .navbar__item a {
    color: #000;
  }
  .navbar .navbar__item a:hover {
    background-color: transparent;
    color: green;
  }

}
.about {
  text-align: center;
}
@media (min-width: 768px) {
  .about__skills {
    display: flex;
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .about__diagram {
    width: 50%;
    height: 40vh;
    background-color: #F8F9F9;  
    text-align: left;      
  }
  .about__diagram h3 {
    padding-left: 20px;
  }
  .about__diagram span {
    display: block;
    padding: 20px;
  }
  .about__img {
    width: 50%;
    height: 40vh;    
  }
  .about__img img{
    width: 100%;
    height: 40vh;    
  }  
}
.about__stats {
  
}
@media (min-width: 768px) { 
  .about__stats {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  }
}
.works {
  width: 100%;
  text-align: center;
}
.works img {
  width: 24%;
  margin: 0;
  padding: 0;
}
.works a {
  display: block;
  padding: 50px;
}
.workprocess {
  text-align: center;
}
.testimonials {
  text-align: center;
  color: #fff;
  background-color: #4FC339;
  padding: 50px;
}
.contacts {
  text-align: center;
}
#input__title {
  width: 70%;
}
.footer {
  display: flex;
  justify-content: space-between;
}